$b-color-1: #000000;
$b-color-2: #111111;
$b-color-3: #2A2A2A;
$b-color-4: #FFFFFF;
$b-color-5: #444444;
$b-color-6: #d49595;

$button-color-1: #0144DC;

$text-color-1: #FFFFFF;
$text-color-2: #7C7C7C;
$text-color-3: #000000;
$text-color-4: #8f8f8f;
$text-color-5: #FF0D27;
$text-color-6: #2A2A2A;
